@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

.tangerine-title {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  color: #BD1947;
}