@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background: #F6E8EE;
}

.tangerine-title {
  font-family: 'Tangerine', cursive !important;
  color: #BD1947 !important;
  font-weight: 700;

  text-shadow:
    0 0 8px rgba(189,25,71,.15),
    0 0 16px rgba(189,25,71,.12);


  animation: fadeInTitle 1.8s ease forwards;
}

@keyframes fadeInTitle {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}